<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Kaggle - Analysis</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet"/>
    {% assets "index_css" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}


</head>
<body>


    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span></button>
				<a class="navbar-brand" href="#"><span>Agency Performance</span>Model</a>
				<ul class="nav navbar-top-links navbar-right">


				</ul>
			</div>
		</div><!-- /.container-fluid -->
	</nav>
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<div class="profile-sidebar">
			<div class="profile-userpic">
				<img src="/static/img/pp.jpg" class="img-responsive" alt="">
			</div>
			<div class="profile-usertitle">
				<div class="profile-usertitle-name">Developed By</div>
				<div class="profile-usertitle-status">Raihan</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="divider"></div>
		<ul class="nav menu">
			<li ><a  href="/"><em class="fa fa-home">&nbsp;</em> Home</a></li>
			<li class="active"><a  href="/data_set"><em class="fa fa-table">&nbsp;</em> Data Set</a></li>
			<li class="parent "><a data-toggle="collapse" >
				<em class="fa fa-bar-chart">&nbsp;</em> Agency Report <span data-toggle="collapse"  class="icon-pull-right"></span>
				</a>
				<ul class="children-collapse" >
					<li><a class="" href="/report">
						<span class="fa fa-arrow-right">&nbsp;</span> By Agency ID
					</a></li>
					<li><a class="" href="#">
						<span class="fa fa-arrow-right">&nbsp;</span> By Date & Year
					</a></li>
					<li><a class="" href="#">
						<span class="fa fa-arrow-right">&nbsp;</span> Prediction
					</a></li>
				</ul>
			</li>
		</ul>
	</div><!--/.sidebar-->

	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">See full data set in
			<a target="_blank" rel="noopener noreferrer" href="https://www.kaggle.com/moneystore/agencyperformance"><strong>Kaggle</strong></a>
		</div>
         <div class="row" id="dataloader" >
        </div>

	</div>

    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.0.1/spin.min.js'></script>

	<script type="text/javascript"charset="utf-8">

	var chartConfig = {
    target : 'dataloader',
    data_url : 'https://raw.githubusercontent.com/RaihanSabique/agency-performance-model/master/dataset/data.csv',
    width: 900,
    height: 450,
    val: 90
};

// loader settings
var opts = {
  lines: 9, // The number of lines to draw
  length: 9, // The length of each line
  width: 5, // The line thickness
  radius: 14, // The radius of the inner circle
  color: '#EE3124', // #rgb or #rrggbb or array of colors
  speed: 1.9, // Rounds per second
  trail: 40, // Afterglow percentage
  className: 'spinner', // The CSS class to assign to the spinner
  top: '500%'
};

var target = document.getElementById(chartConfig.target);

// callback function wrapped for loader in 'init' function
function init() {

    // trigger loader
    var spinner = new Spinner(opts).spin(target);

    // slow the json load intentionally, so we can see it every load
    setTimeout(function() {

        // load json data and trigger callback
        d3.text(chartConfig.data_url, function(data) {

            // stop spin.js loader
            spinner.stop();

            // instantiate chart within callback
            var parsedCSV = d3.csv.parseRows(data);

    var container = d3.select("#"+chartConfig.target)
        .append("table")

    .selectAll("tr")
        .data(parsedCSV).enter()
        .append("tr")

    .selectAll("td")
        .data(function(d) {
            return d;
        }).enter()
        .append("td")
        .text(function(d) {
            return d;
        });

        });

    }, 1500);
}

init();

    /*d3.text("https://raw.githubusercontent.com/RaihanSabique/agency-performance-model/master/dataset/data.csv", function(data) {
    var parsedCSV = d3.csv.parseRows(data);

    var container = d3.select("#dataloader")
        .append("table")

    .selectAll("tr")
        .data(parsedCSV).enter()
        .append("tr")

    .selectAll("td")
        .data(function(d) {
            return d;
        }).enter()
        .append("td")
        .text(function(d) {
            return d;
        });*/
//});
        </script>


</body>
</html>