<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Kaggle - Analysis</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet"/>
    {% assets "index_css" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}


</head>
<body>


    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span></button>
				<a class="navbar-brand" href="#"><span>Agency Performance</span>Model</a>
				<ul class="nav navbar-top-links navbar-right">


				</ul>
			</div>
		</div><!-- /.container-fluid -->
	</nav>
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<div class="profile-sidebar">
			<div class="profile-userpic">
				<img src="/static/img/pp.jpg" class="img-responsive" alt="">
			</div>
			<div class="profile-usertitle">
				<div class="profile-usertitle-name">Developer</div>
				<div class="profile-usertitle-status">Raihan</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="divider"></div>
		<ul class="nav menu">
            <li class="active"><a ><em class="fa fa-home">&nbsp;</em> Home</a></li>
			<li ><a  href="/data_set"><em class="fa fa-table">&nbsp;</em> Data Set</a></li>
			<li class="parent "><a data-toggle="collapse" >
				<em class="fa fa-bar-chart">&nbsp;</em> Agency Report <span data-toggle="collapse"  class="icon-pull-right"></span>
				</a>
				<ul class="children-collapse" >
					<li><a class="" href="/report">
						<span class="fa fa-arrow-right">&nbsp;</span> By Agency ID
					</a></li>
					<li><a class="" href="#">
						<span class="fa fa-arrow-right">&nbsp;</span> By Date & Year
					</a></li>
					<li><a class="" href="#">
						<span class="fa fa-arrow-right">&nbsp;</span> Prediction
					</a></li>
				</ul>
			</li>
            <li><a href="widgets.html"><em class="fa fa-calendar">&nbsp;</em> Widgets</a></li>
			<li><a href="charts.html"><em class="fa fa-bar-chart">&nbsp;</em> Charts</a></li>
			<li><a href="elements.html"><em class="fa fa-toggle-off">&nbsp;</em> UI Elements</a></li>
			<li><a href="panels.html"><em class="fa fa-clone">&nbsp;</em> Alerts &amp; Panels</a></li>
		</ul>
	</div><!--/.sidebar-->
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main" style="background-color:#FAF5F2">

              <div class="call-to-action light-gray-bg p-20 hc-shadow bordered">
                 <div style="background-color:#123638">
                <h1 class="text-center" style="color: white;">The Project - Insurance Data analysis</h1>
                <div class="separator"></div>
                <p class="lead text-center"><strong>A <a target="_blank" rel="noopener noreferrer" href="https://www.britecore.com/">britecore.com</a> project</strong> </p>
                <br>
                <br></div>
                  <div class="row">
                      <h2 class="text-center"><u>Project Description</u></h2>
                      <ul>
                          <li>Build a Data Pipeline/ETL process that takes the CSVs as input and saves into a database at a detailed level while also calculating summarized views.</li>
                          <li>Build REST api that provides:
                                <ol>
                                    <p>Parameters: agency_id, year, date, state </p>
                                    <li>Detailed information using different parameters </li>
                                    <li>Summarized information using different parameters</li>
                                    <li>Graphical analysis information using different parameters</li>
                                    <li>predictive analysis for categorization </li>
                                </ol>
                          </li>
                          <li>Build a web app that consumes the API and show charts, tables, prediction results etc</li>
                      </ul>
                  </div>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="hc-item-box-2 hc-element-invisible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                      <span class="icon without-bg"><i class="fa fa-diamond"></i></span>
                      <div class="body">
                        <h4 class="title">Tools Stack</h4>
                        <h5><strong>Python 3.7</strong></h5>
                          <h5><strong>Java Scripts</strong></h5>
                          <h5><strong>HTML5</strong></h5>
                          <h5><strong>CSS</strong></h5>


                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="hc-item-box-2 hc-element-invisible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                      <span class="icon without-bg"><i class="fa fa-connectdevelop"></i></span>
                      <div class="body">
                        <h4 class="title">Frameworks</h4>
                          <h5><strong>Flask</strong></h5>
                          <h5><strong>D3 JS</strong></h5>
                          <h5><strong>Bootstrap</strong></h5>
                        </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="hc-item-box-2 hc-element-invisible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                      <span class="icon without-bg"><i class="fa fa-snowflake-o"></i></span>
                      <div class="body">
                        <h4 class="title">Data Analyzing and Modeling</h4>
                          <h5><strong>Pandas DataFrame</strong></h5>

                        </div>
                    </div>
                  </div>
                </div>
              </div>

    </div>

</body>
</html>