<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Kaggle - Analysis</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet"/>
    {% assets "index_css" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}


</head>
<body>


    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span></button>
				<a class="navbar-brand" href="#"><span>Agency Performance</span>Model</a>
				<ul class="nav navbar-top-links navbar-right">


				</ul>
			</div>
		</div><!-- /.container-fluid -->
	</nav>
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<div class="profile-sidebar">
			<div class="profile-userpic">
				<img src="/static/img/pp.jpg" class="img-responsive" alt="">
			</div>
			<div class="profile-usertitle">
				<div class="profile-usertitle-name">Developed By</div>
				<div class="profile-usertitle-status">Raihan</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="divider"></div>
		<ul class="nav menu">
			<li ><a  href="/"><em class="fa fa-home">&nbsp;</em> Home</a></li>
			<li ><a  href="/data_set"><em class="fa fa-table">&nbsp;</em> Data Set</a></li>
			<li class="parent "><a data-toggle="collapse" >
				<em class="fa fa-bar-chart">&nbsp;</em> Agency Report <span data-toggle="collapse"  class="icon-pull-right"></span>
				</a>
				<ul class="children-collapse" >
					<li><a class="active" href="/report">
						<span class="fa fa-arrow-right">&nbsp;</span> By Agency ID
					</a></li>
					<li><a class="" href="#">
						<span class="fa fa-arrow-right">&nbsp;</span> By Date & Year
					</a></li>
					<li><a class="" href="#">
						<span class="fa fa-arrow-right">&nbsp;</span> Prediction
					</a></li>
				</ul>
			</li>
		</ul>
	</div><!--/.sidebar-->

	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        <div class="row" style="background-color:#FFFFF0;">
			<div style="margin-top:20px; margin-left:10px">
            <form action = "http://127.0.0.1:5000/report/get_id" method = "POST">
			    <div class="form-group">
					<strong>Agency ID:</strong>
				    <span><select name="agency_id">
							<option value="" disabled selected>Select Agency ID</option>
							{% for each in agency_list %}
						<option value="{{each}}" >{{each}}</option>

							{% endfor %}

						</select>
					<button  class="btn btn-primary btn-md"  type="submit">Get Result</button></span>
			    </div>
		    </form>
			</div>
        </div>
		<div>
			<g class="tooltip">
    			<text class="name">{{ agency_id }}</text>
			</g>
		</div>
		<div class="=row" >
			<div id="state_text" ></div>
		 	<div id="state_bar"></div>
		</div>

		<div class="row prod_background">
			<div class="col-sm-6 col-lg-6 " style="background-color:#BFBCBA" >
				<h1 style="color:#2A3659"><strong> Commercial Lines (CL)</strong></h1>
				<div id="cl_radial" class="col-sm-6 col-lg-6 widget_cbar "></div>
				<div id="cl_name" class="col-sm-4 col-lg-4">

				</div>
			</div>
			<div  class="col-sm-4 col-lg-4 " >
				<h2 style="color:#425944"><strong>Personal Lines (PL)</strong></h2>
				<div id="pl_radial" class="col-sm-4 col-lg-4 widget_pbar" ></div>
				<div id="pl_name" class="col-sm-2 col-lg-2">
			</div>

		</div>
	</div>
		<div class="row" style="background-color:#FFFFF0;">
			<div class="row">
				<h3 class="text-center"><u><strong>Year vs Different types of amount(USD)</strong></u> </h3>
			</div>
			<div class="col-sm-8 col-lg-8">
				<svg id="visualisation" width="750" height="500" >

				</svg>
			</div>
					<div class="col-sm-4 col-lg-4">

					<span><svg height="5" width="30"><rect width="30" height="5" style="fill:green;" /></svg></span>
						<span><h6 ><strong>New Business Written Premium Amount</strong></h6></span>
					<svg height="5" width="30"><rect width="30" height="5" style="fill:#F3B900;" /></svg>
						<span><h6 ><strong>Total Written Premium Amount</strong></h6></span>

						<svg height="5" width="30"><rect width="30" height="5" style="fill:#26BFBF;" /></svg>
						<span><h6 ><strong>Previous Written Premium Amount</strong></h6></span>

					<svg height="5" width="30"><rect width="30" height="5" style="fill:#313A87;" /></svg>
						<span><h6 ><strong>Earned Premium Amount</strong></h6></span>

					<svg height="5" width="30"><rect width="30" height="5" style="fill:red;" /></svg>
						<span><h6 ><strong>Losses Amount</strong></h6></span>

					</div>
		</div>


    <script src="http://d3js.org/d3.v4.min.js"></script>
    {% assets "index_js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

</body>
</html>